.content-placeholder {
    display: block;
    position: relative;
    margin: 10px 0;
}

.placeholder-block {
    width: 100%;
    height: 15px;
    border-radius: 60px;
}


.placeholder-block.pb-2x {
    height: 30px;
}


.loads {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeload;
    animation-name: placeload;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #f2f2f2), color-stop(18%, #e8e8e8), color-stop(33%, #f2f2f2));
    background: -webkit-linear-gradient(left, #f2f2f2 8%, #e8e8e8 18%, #f2f2f2 33%);
    background: linear-gradient(to right, #f2f2f2 8%, #e8e8e8 18%, #f2f2f2 33%);
    -webkit-background-size: 800px 104px;
    background-size: 1200px 104px;
    position: relative;
}

@-webkit-keyframes placeload {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeload {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}


